<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="listener_test">
<listeners>
  <listener class-name="com.selenium.listener.Listeners" />
</listeners>
<test name="automation_test">
   <classes>
     <class name="com.selenium.listener.SampleTestClass" />
   </classes>
</test>

</suite>